$break-large: 800px;

.App {
  text-align: center;
}

.App-header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  font-family: sans-serif;
  font-size: 3em;
}

div .tagLine {
  font-size: 32px;
}

@media screen and (min-width: $break-large) {

  .App-header {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }

  .App-header:nth-child(1) {
  }

}
